.medium-height {
  height: 50vh;
}

.photos-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 1px dashed red;
}

.photo-card {
  padding: 1rem;
  border: 1px solid lightblue;
  border-radius: 12px;
}
