<main
  class="tw-flex tw-flex-col tw-gap-4 tw-justify-center tw-items-center tw-min-h-screen"
>
  <app-select
    [options]="options"
    [(ngModel)]="selectedOption"
    class="tw-w-52"
  />
  <button (click)="toggleOffcanvas()" class="deb-btn deb-btn-primary">
    Toggle offcanvas
  </button>
  <div class="deb-fw-input">
    <input
      type="text"
      placeholder="Lorem"
      [formControl]="text"
      [appClearInputBy]="clearTrigger"
    />
    <app-clear-trigger #clearTrigger class="tw-pr-3" />
  </div>
  <svg-icon name="google" />
  <app-input #input [formControl]="control" [validateOnInput]="false" />
  <button (click)="input.manuallyCheckValidity()">Submit</button>
  <pre>isInvalid {{ input.isInvalid }}</pre>
  <app-offcanvas [(isOpen)]="isOffcanvasOpen" direction="left">
    <div class="tw-p-4">
      <p>Offcanvas content</p>
    </div>
  </app-offcanvas>
</main>
