<input
  type="password"
  placeholder="Password"
  [formControl]="control"
  [ngbPopover]="validationsPopoever"
  [disablePopover]="validations.length === 0"
  class="tw-input tw-input-bordered"
/>
<ng-template #validationsPopoever>
  <ul>
    <ng-container *ngFor="let validation of validations">
      <li
        *ngIf="validation.isActive"
        [ngClass]="generateValidationClassesFor(validation.name)"
      >
        {{ validation.message }}
      </li>
    </ng-container>
  </ul>
</ng-template>
