<div class="tw-space-y-4">
  <div class="tw-space-x-4">
    <button (click)="fetchPhotos()" class="tw-btn">Fetch</button>
    <button class="tw-btn tw-btn-success">Save changes</button>
    <button (click)="undoAllChanges()" class="tw-btn tw-btn-warning">
      Undo all changes
    </button>
  </div>
  <pre>{{ sortChanged$ | async | json }}</pre>
  <ag-grid-angular
    style="width: 100%"
    class="ag-theme-alpine"
    [gridOptions]="gridOptions"
    [rowData]="photos"
    editType="fullRow"
    (gridReady)="gridReady($event)"
  />
  <div class="tw-mt-4">
    <app-paginator />
  </div>
</div>
