<ngb-pagination
  #paginator
  [collectionSize]="collectionSize"
  [pageSize]="pageSize"
  (pageChange)="onPageChange($event)"
  [boundaryLinks]="true"
>
  <ng-template ngbPaginationPages let-page let-pages="pages">
    <li class="ngb-custom-pages-item" *ngIf="pages.length > 0">
      <div class="mb-3 d-flex flex-nowrap px-2">
        <label for="paginator-input" class="col-form-label me-2 ms-1">
          Page
        </label>
        <input
          #i
          type="text"
          inputmode="numeric"
          pattern="[0-9]*"
          class="form-control tw-w-12"
          id="paginator-input"
          [value]="page"
          (keyup.enter)="selectPage(i.value, true)"
          (input)="formatInput($any($event).target)"
        />
        <span
          id="paginationDescription"
          class="col-form-label text-nowrap px-2"
        >
          of {{ pages.length }}</span
        >
      </div>
    </li>
  </ng-template>
</ngb-pagination>
