:host {
  display: flex;
  gap: 1rem;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  line-height: 0;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
}
