<main class="container">
  <h1>Infinite anime</h1>
  <input type="text" placeholder="Anime name" [formControl]="queryControl" />
  <ng-container *ngIf="animes$ | async as animes">
    <div *ngIf="animes.isRefetching">Refreshing animes...</div>
    <div
      *ngIf="animes.data"
      infinite-scroll
      [infiniteScrollDisabled]="!(animes.hasNextPage | boolean)"
      [infiniteScrollDistance]="1"
      (scrolled)="animes.fetchNextPage()"
    >
      <div *ngFor="let page of animes.data.pages">
        <app-anime-list *ngIf="animes.data" [animes]="page.data" />
      </div>
    </div>
  </ng-container>
</main>
